@import "../../mixins.scss";
.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  align-items: center;
  width: 100%;
  height: 60px;
  transition: all ease 0.5s;

  &.top {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }
  &.show {
    background-color: var(--black3);
  }
  &.hide {
    transform: translateY(-60px);
  }

  .content_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    cursor: pointer;
    img {
      height: 38px;
    }
  }

  .menu_items {
    display: none;
    list-style: none;

    @include md {
      display: flex;
    }

    .menu_item {
      color: #fff;
      // background-color: pink;
      height: 60px;
      display: flex;
      align-items: center;
      margin: 0 15px;
      font-weight: 500;
      position: relative;
      cursor: pointer;

      svg {
        font-size: 18px;
      }

      &:hover {
        color: var(--pink);
      }
    }
  }

  .mobile_menu_items {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    @include md {
      display: none;
    }

    svg {
      color: #fff;
      font-size: 18px;
    }
  }

  &.mobile_view {
    background: var(--black3);
    .menu_items {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background: var(--black3);
      width: 100%;
      padding: 20px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      animation: mobileMenu 0.3s ease forwards;

      .menu_item {
        &:last-child {
          display: none;
        }

        width: 100%;
        height: auto;
        padding: 15px 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}
